<h1>{{title}}</h1>
<p>Workshop on Iot</p>

<button onclick="fn()">Switch</button>
<script>
    function fn(){
        window.location.href='http://localhost:8080/message?msg=switchon'
    }
</script>



